.icon {
    font-size: 24px;
    display: inline-block;
    margin: 8px;
  }
  .broken-bar::before{
    content:"\00A6";
  }
  .copyright::before{
    content:"\00A9";
  }
  .registered-sign::before{
    content:"\00AE";
  }
  .degree-sign::before{
    content:"\00B0";
  }
  .cyrillic-thousands-sign::before{
    content:"\0482";
  }
  .right-facing-armenian-eternity-sign::before{
    content:"\058D";
  }
  .left-facing-armenian-eternity-sign::before{
    content:"\058E";
  }
  .arabic-poetic-verse-sign::before{
    content:"\060E";
  }
  .arabic-sign-misra::before{
    content:"\060F";
  }
  .arabic-start-of-rub-el-hizb::before{
    content:"\06DE";
  }
  .arabic-sign-sindhi-ampersand::before{
    content:"\06FD";
  }
  .arabic-sign-sindhi-postposition-men::before{
    content:"\06FE";
  }
  .nko-symbol-Oo-dennen::before{
    content:"\07F6";
  }
  .bengali-isshar::before{
    content:"\09FA";
  }
  .oriya-isshar::before{
    content:"\0B70";
  }
  .tamil-day-sign::before{
    content:"\0BF3";
  }
  .tamil-month-sign::before{
    content:"\0BF4";
  }
  .tamil-year-sign::before{
    content:"\0BF5";
  }
  .tamil-debit-sign::before{
    content:"\0BF6";
  }
  .tamil-credit-sign::before{
    content:"\0BF7";
  }
  .tamil-as-above-sign::before{
    content:"\0BF8";
  }
  .tamil-number-sign::before{
    content:"\0BFA";
  }
  .telugu-sign-tuumu::before{
    content:"\0C7F";
  }
  .negative-squared-latin-capital-letter-a::before{
    content:"\1F170";
  }
  .negative-squared-latin-capital-letter-b::before{
    content:"\1F171";
  }
  .negative-squared-latin-capital-letter-o::before{
    content:"\1F17E";
  }
  .negative-squared-latin-capital-letter-p::before{
    content:"\1F17F";
  }
  .negative-squared-ab::before{
    content:"\1F18E";
  }
  .squared-cl::before{
    content:"\1F191";
  }
  .squared-cool::before{
    content:"\1F192";
  }
  .squared-free::before{
    content:"\1F193";
  }
  .squared-id::before{
    content:"\1F194";
  }
  .squared-new::before{
    content:"\1F195";
  }
  .squared-ng::before{
    content:"\1F196";
  }
  .squared-ok::before{
    content:"\1F197";
  }
  .squared-sos::before{
    content:"\1F198";
  }
  .squared-up-with-exclamation-mark::before{
    content:"\1F199";
  }
  .squared-vs::before{
    content:"\1F19A";
  }
  .squared-katakana-koko::before{
    content:"\1F201";
  }
  .squared-cjk-unified-7121::before{
    content:"\1F21A";
  }
  .squared-cjk-unified-6307::before{
    content:"\1F22F";
  }
  .squared-cjk-unified-7981::before{
    content:"\1F232";
  }
  .squared-cjk-unified-7a7a::before{
    content:"\1F233";
  }
  .squared-cjk-unified-5408::before{
    content:"\1F234";
  }
  .squared-cjk-unified-6e80::before{
    content:"\1F235";
  }
  .squared-cjk-unified-6709::before{
    content:"\1F236";
  }
  .squared-cjk-unified-7533::before{
    content:"\1F238";
  }
  .squared-cjk-unified-5272::before{
    content:"\1F239";
  }
  .squared-cjk-unified-55b6::before{
    content:"\1F23A";
  }
  .circled-ideograph-advantage::before{
    content:"\1F250";
  }
  .circled-ideograph-accept::before{
    content:"\1F251";
  }
  .cyclone::before{
    content:"\1F300";
  }
  .foggy::before{
    content:"\1F301";
  }
  .closed-umbrella::before{
    content:"\1F302";
  }
  .night-with-stars::before{
    content:"\1F303";
  }
  .sunrise-over-mountains::before{
    content:"\1F304";
  }
  .sunrise::before{
    content:"\1F305";
  }
  .cityscape-at-dusk::before{
    content:"\1F306";
  }
  .sunset-over-buildings::before{
    content:"\1F307";
  }
  .rainbow::before{
    content:"\1F308";
  }
  .bridge-at-night::before{
    content:"\1F309";
  }
  .water-wave::before{
    content:"\1F30A";
  }
  .volcano::before{
    content:"\1F30B";
  }
  .milky-way::before{
    content:"\1F30C";
  }
  .earth-globe-europe-africa::before{
    content:"\1F30D";
  }
  .earth-globe-americas::before{
    content:"\1F30E";
  }
  .earth-globe-asia-australia::before{
    content:"\1F30F";
  }
  .globe-with-meridians::before{
    content:"\1F310";
  }
  .new-moon-symbol::before{
    content:"\1F311";
  }
  .waxing-crescent-moon-symbol::before{
    content:"\1F312";
  }
  .first-quarter-moon-symbol::before{
    content:"\1F313";
  }
  .waxing-gibbous-moon-symbol::before{
    content:"\1F314";
  }
  .full-moon-symbol::before{
    content:"\1F315";
  }
